html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    background-image: url("../src/stars_background.gif");
}

main {
    flex: 1 0 auto;
}

a {
    color: #ab47bc;
}

a:hover {
    color: white;
    transition: 0.5s;
}

.imgcard {
    max-width: 100px;
}

.imgtrouvee {
    opacity: 0.2;
}

.cardbutton {
    padding: 10px;
    border: 1px solid black;
    background: none;
    transition: 0.5s;
}

.cardbutton:hover {
    border: 1px solid #ab47bc;
}

table {
    border-collapse: collapse;
}

footer li {
    padding-left: 20px;
}

.nav-wrapper {
    padding: 0 20px 0 20px;
}

.navlink {
    transition: 0.5s;
}

.navlink:hover {
    background-color: #ab47bc;
}

.activepage {
    background-color: #801A92;
}

.disabled {
    pointer-events: none;
    opacity: 0.7;
}

.buttonlevel {
    margin-bottom: 20px;
}


/*.buttonlevel:hover {}*/